body{
    background: midnightblue;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/Capsmall.ttf);
  }

#container{
    width: 30em;
    height: 15em;
    margin: auto;
    margin-top: 10em;
    border-radius: 20px;
    padding: 1em;
    border: black 2px solid;
    background: aliceblue;
}

#opgaveblad{
    font-family: myFirstFont;
    font-size: 30px;
    background: violet;
    text-align: center;
    height:  3em;
    padding: 20px;
}

#antwoordenblad{
    width: 100%;
    margin: auto;
    background: violet;
    color:white;
}

#input1{
    width:10em;
    margin: auto;
    text-align: center;
    background: chartreuse;;
    height: 2em;
}