body{
    background: midnightblue;
}

#container{
    width: 30em;
    height: 10em;
    margin: auto;
    margin-top: 10em;
    border-radius: 20px;
    padding: 1em;
    border: black 4px solid;
    background: aliceblue;
}

#opgaveblad{
    background: violet;
}

#antwoordenblad{
    background: rebeccapurple;
    color:white;
}